.section-question{
background-color: #ffd8cc;
}

.section-info-user{
    background-color: #ffbd9b;
}

section{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: flex-end;
}

.question-user{

}

.question-bot{

} 
