.background-survey{
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#fdf6ee, #ffeedb, #ffd8cc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdf6ee, #ffeedb, #ffd8cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px 100px;
}
.container-white{
background-color: white;
border-radius: 15px;
padding: 50px;
margin: 6%;
}

.titre-info{
    padding-bottom: 10px;
}


.btn-cta-lead {
    background-color: #0a1d37;
    border-radius: 15px;
    box-shadow: 8px 8px 0 #ffeedb;
    color: white;
    text-decoration: none;
    padding: 15px 60px;
    font-size: 1.6em;
    font-weight: bold;
    margin: 20px;
    border: none;
  }
.btn-cta-lead:hover{
    background-color: #ffbd9b;
}

.question-user, .question-client {
    font-size: 1.4em;
}

.question-bot h2 {
    padding-bottom: 10px;
}

.titre{
    padding-top: 40px;
   font-family: 'Bree Serif', serif;
   font-size: 3em;
}

.select {
width: 200px;
}

.section, .title-browser{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: flex-end;
}

h2{
    font-size: 1.8em;
}

/* .question-user{

}

.question-bot{

}  */
