/* .table{
    background-color: white;
    border-radius: 15px;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;


    } */

    .searchbar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: space-around;
    }

    .searchbar p {
        padding-right: 20px;
        font-size: 1.3em;
    }
    .search-bar-input{
        width: 300px;
        font-size: 1.1em;
    }

    .searchbar{
        padding: 10px;
    }

.thin-line{
    width: 50%;
    margin: 10px 25%;;
    height: 3px;
    background-color: rgb(255, 255, 255);
}

    .container-cta-profile{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 17px;
    }

    .btn-clicked{
        background-color: #ffffff;
        color: #0a1d37;
        border-radius: 8px;
        text-decoration: none;
        padding: 10px;
        font-size: 1.1em;
        font-weight: bold;
        margin: 20px;
        border: none;
      }


    .container-buttons-profile, .container-btn-sort, .search-and-btn{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

.btn-gestion{
    background-color: #ffeedb;
    color: #0a1d37;
    border-radius: 8px;
    text-decoration: none;
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px;
    border: none;
}

.img-profile-solution{
    width: 100px;
}

.solutions-profile-list{
	display: flex;
	justify-content: space-around;
	
}

    .btn-return{
        color: #0a1d37;
        background-color: #ffbd9b;
        border-radius: 8px;
        text-decoration: none;
        padding: 10px;
        font-size: 1.1em;
        font-weight: bold;
        margin: 20px;
        border: none;
      }

      .btn-return:hover{
        color: #0a1d37;
        background-color: rgb(206, 206, 206);
        border-radius: 8px;
        text-decoration: none;
        padding: 10px;
        font-size: 1.1em;
        font-weight: bold;
        margin: 20px;
        border: none;
      }

      .btn-sort{
        margin: 20px 20px 0;
    
      }
    