/* .table{
    background-color: white;
    border-radius: 15px;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;


    } */

    .searchbar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: space-around;
    }

    .searchbar p {
        padding-right: 20px;
        font-size: 1.3em;
    }
    .search-bar-input{
        width: 300px;
        font-size: 1.1em;
    }

    .searchbar{
        padding: 10px;
    }

.thin-line{
    width: 50%;
    margin: 10px 25%;;
    height: 5px;
    background-color: rgb(255, 255, 255);
}

    .container-cta-profile{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .btn-clicked{
        background-color: #ffffff;
        color: #0a1d37;
        border-radius: 8px;
        text-decoration: none;
        padding: 10px;
        font-size: 1.1em;
        font-weight: bold;
        margin: 20px;
        border: none;
      }

      .btn-notClicked{
        background-color: #000000;
        color: #0a1d37;
        border-radius: 8px;
        text-decoration: none;
        padding: 10px;
        font-size: 1.1em;
        font-weight: bold;
        margin: 20px;
        border: none;
      }