
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto+Condensed&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
font-family: 'Roboto Condensed', sans-serif;
color: #0a1d37;
}

/* Pour les titres */
/* font-family: 'Bree Serif', serif; */

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
