
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto+Condensed&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
font-family: 'Roboto Condensed', sans-serif;
color: #0a1d37;
}

/* Pour les titres */
/* font-family: 'Bree Serif', serif; */

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
.header{
  height: 110px;
  font-size: 1.3em;
}
.main{
min-height: calc(100vh - 90px - 80px);
}

.footer{
  height: 80px;
  font-size: 1.2em;
}

/* home page */

.container-blocks-home{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

.block-home{
  height: 75vh;
  width: 50%;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.block2{
  background-color: #0a1d37;
  color: white;
}

.img-logo{
  height: 30px;
  margin: 30px;
}

.block-home h1{
  font-size: 1.8em;
}

.block-home h2{
  font-size: 1.3em;
}


.header-logos, .row{
  display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  background-color: white;
  border-radius: 20px;
}

.header-logos{
	flex-direction: row;
  margin: 30px; 
  padding: 30px 30px;
}

.row{
  flex-direction: column;
}

.img-ninja{
  width: 300px;
  margin: 30px;
}

.btn-cta-home {
  border-radius: 15px;
  text-decoration: none;
  padding: 15px 50px;
  font-size: 1.8em;
  font-weight: bold;
  margin: 20px;
  border: none;
}
.btn-cta-home:hover{
  background-color: #ffbd9b;
}

.btn-blue{
  background-color: #0a1d37;
  box-shadow: 8px 8px 0 #ffd8cc;
  color: white;
}

.btn-pink{
  background-color: #ffbd9b;
  box-shadow: 8px 8px 0 #ffeedb;
  color: #0a1d37;
}

.btn-blue:hover{
  background-color: #ffbd9b;
  box-shadow: 8px 8px 0 #ffd8cc;
}

.btn-pink:hover{
  background-color: #0a1d37;
  box-shadow: 8px 8px 0 #ffd8cc;
  color: white;
}

.titre-logo{
  font-family: 'Bree Serif', serif;
  font-size: 2.5em;
  color: #0a1d37;
  margin-top: 30px;
}