
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto+Condensed&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
font-family: 'Roboto Condensed', sans-serif;
color: #0a1d37;
}

/* Pour les titres */
/* font-family: 'Bree Serif', serif; */

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
.header{
  height: 90px;
  font-size: 1.6em;
}
.main{
min-height: calc(100vh - 90px - 80px);
}

.footer{
  height: 80px;
  font-size: 1.6em;
}

/* home page */

.container-blocks-home{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

.block-home{
  height: 75vh;
  width: 50%;
}

.block1{
  background-color: #0a1d37;
  color: white;
}


.block-home h1{
  font-size: 3em;
}