.SolutionCard {
    width: 175px;
    height: 175px;
    border-radius: 40px;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* align-content: center; */
    /* background-color: #deedf0; */
    background-color: white;
    padding-top: 10px;
    margin-top: 25px;
}

/* .SolutionCard > td {
    width: auto;
    height:20px;
} */

.CardLogo {
    width: 60px;
    height: 60px;
}

.CardFlag {
    width: 30px;
    height: 20px;
}

.CardName{
    padding-top: 10px;
    padding-bottom: 10px;
}

.SolutionsWrapper {
    display: grid;
    direction: row;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, 200px);
    padding: 30px 30px;
}

.row3 {
    display: flex;
    justify-content: center;
}

